{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="login">
  <form action="/login" method="post" class="container login">
    <h1>Sign In</h1>
    <fieldset>
      <input type="text" id="name" name="username" placeholder="Username or Email" autocomplete="off" autofocus   required>
      <input type="password" id="password" name="user_password" placeholder="Password" required>
    </fieldset>
    <button type="submit" class="btn btn-primary">Log In</button>
    <a href="{{url_for('user.resetRequest')}}" class="links">Forgotten account?</a>
  </form>

  <div class="line-break">
    <span>or</span>
  </div>
  <a href="/register" class="btn new-account">Create New Account</a>
</div> <!-- .login --> 
{% endblock %}